.jumbotron{
	/*background-color: yellow;*/
	background-image: url("../images/header/portada-hoteles.jpg");
	background-position: center;
	background-size: cover;
	color: black;
	margin-top: 20px;
	color: white;
	height: 500px;
}
.btn{
	/*color:white;
	background-color: blue;*/
}

.card-hotel{
	flex: 1 300px;
	/*padding: 2px 0px 2px 0px;*/
	margin-top: 20px;
	/*height: 100%;*/
	max-width: 362px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
	/*position: absolute;
	left: 0;
	bottom: 0;*/



}

footer{
	padding: 10px 10px 0 10px;
	background-color: #dae0e5;
	margin-bottom: 0px;
	margin-top: 100px;
}

.footer-icon{
	padding-right: 10px;
}

.navbar{
	background-color: #C80C0C;
}
.titulo{
	margin-top: 80px;	
}

.estrella{
	color: #ffc215;
}
thead{	
	background-color: #0069d9;
	color: white;
}


.destacado .nav-link {
     padding: 0rem 0rem;
}

.destacado .badge {
    background-color: #C80C0C;
    color: white;
}
.acordeon button{
    width: 100%;
    text-align: left;
}